
body {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 1% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* define the size of the grid columns */
  gap: 1rem; /* add some space between grid items */
  padding: 0px;
}


/* Set 3 columns on screens that are at least 400px wide */
@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Set 2 columns on screens that are less than 400px wide */
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pokemoncard {
  height: auto; /* adjust as needed */
  display: grid;
  width: 100%;
  margin: 0px;

}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%
}

/* Button style */
button:disabled {
  display: none;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #747474;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px;
}

/* Active button style */
button:active {
  background-color: #4e4e4e;
}

button:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

